## Student Data Analysis

In this activity, you will use the steps below to analyze a dataset of student test scores from schools in a fake school district.

1. Collect the data.

2. Prepare the data.

3. Summarize the data. 

4. Drill down into the data. 

5. Make comparisons.

### Import required libraries and dependencies

<!-- https://pypi.org/project/pathlib2/ -->

In [1]:
import pandas as pd
import os

## Step 1: Collect the data.

To collect the data that youâ€™ll need, complete the following steps:

**1. Using the Pandas `read_csv` function and the `os.path.join` function, import the data from the `new_student_data.csv` file, and create a DataFrame called student_df.**

In [3]:
student_data = os.path.join('..', 'Resources', 'new_student_data.csv')
student_df = pd.read_csv(student_data)

**2. Use the head (and/or the tail) function to confirm that Pandas properly imported the data.**

In [4]:
student_df.tail()

,student_id,student_name,grade,school_name,reading_score,math_score,school_type
13935,32277979,Kelly Myers,10th,Sullivan High School,62.3,37.9,Public
13936,109412748,Kimberly Burke,10th,Montgomery High School,99.5,89.8,Public
13937,16856426,Crystal Merritt,9th,Turner High School,86.3,71.1,Public
13938,88213835,Misty Wiggins,10th,Fisher High School,75.4,76.4,Public
13939,12153644,Michele Jones,11th,Chang High School,69.0,72.4,Public

## Good work!

You are now prepared to start the next lesson before starting step 2.